<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id ="car" class="com.moon775.dinaop.Car" scope="prototype"/> <!--prototype은 getBean 할때마다 매번 새로운 객체 -->
    <bean id ="engine" class="com.moon775.dinaop.Engine" scope="singleton"/>    <!--singleton은 class 객체를 하나만 생성-->
    <bean id ="door" class="com.moon775.dinaop.Door"/>  <!--scope 생략 시 singleton-->
</beans>